
h1 {
    font-size: 60px;
    color: black;
    text-align: center;
    
}

h2{
    font-size: 20px;
    text-align: center;
    font-style: oblique
}

p {
    font-size: 20px;
}

.linha{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 25px;
    padding: 0 4px;
    flex-wrap: wrap;
}

.linha img{
    flex:50%;
    width: 100%;  
}

.linha div{
    flex: 50%;
    text-align: justify;
    font-size: .5em;
    padding: 0 4px;
}

.AP {
    background-color: green;
}

.EP {
    background-color: black;
}

.API {
    background-color: blueviolet;
}

.EPI {
    background-color: greenyellow;
}

