.container{
    justify-content: auto; 
    flex-wrap: wrap;
}
    
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

p {
    font-size: 20px;
    text-align: center;
    color: black;
    justify-content: auto; 
}

p2 {
    font-size: 20px;
    text-align: left;
    justify-content: auto; 
}

body {
    align-items: left;
    background-color: black;
    background-position: center;
    background-repeat:initial;
}

.card-body {
    background-color:green;
        justify-content: auto; 
}


 